@use 'variables' as *;
@use 'header';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  font-family: $font-family;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}